body {background-color: #D2B48C; text-align:center;
}

#nav {
    font-size: 20px; 
    border: solid 5px; 
    color:#686868 ;
}

#about { text-align:left;
}

#contact { text-align:center; font-size:14pt; 
}

#heading {
    font-size: 36px;
    font-family: 'Poor Richard';
    color: #CC0000;
    font-variant: small-caps;
}

#Gridview1 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#DetailsView1 { 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cssgridview {width:100%; background-color:#F08080; border:solid 6px white;
}
    .cssgridview td {padding:10px; border:solid 1px; color:#FFFFFF;  
    }
    .cssgridview th{padding:4px 2px; border:solid 1px; color:#FFFFFF ;background-color:#FFFF99
    }
        .cssgridview th a {
            color: silver;
            text-decoration: none;
        }
  .cssgridview .header td{width:150px; text-align:center; color:#FFFF99
        }
